<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<script src="scripts/funcs.js">///////</script>
<title>Teleddiction</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="stylesheets/default.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="header">
	<img id="logo" src="stylesheets/images/Logo.png" alt="LOGO" />
	<div id="menu">
		<ul>
			<div id="sign">
			{% if login %}
				<li><a href="{{login}}">Login/Register</a></li>
			{% else %}
				<li id="signout"><a href="{{logout}}">Logout</a></li>
			{% endif %}
			</div>			
			<li><a href="/">Home</a></li>
			<li><a href="/showlist">Show List</a></li>
			{% if logout %}
			<li>
				<form id="search" method="post" action="/search">
					<input name="searchbar" type="text" class="textinput"  size="25" maxlength="50">
		        <input type="submit" value="search" class="button">
				</form>
			</li>
			{% endif %}
		</ul>
	</div>
</div>
<div id="page">
	{% if user %}	
		<div>
			<fieldset>
				<legend><div id="title"><strong>Personal information:</strong></div></legend>	
					<br>
					<strong>Name:</strong><br />	<div>{{user.name}}</div>
					<br>
					<br><strong>Gender:</strong><br /> <div>{{user.gender}}</div>
					<br>
					<br><strong>Age:</strong><br /> <div>{{user.age}}</div>
					<br>
					<br><strong>Bio:</strong><br /> <div>{{user.bio}}</div>
			</fieldset>
		</div>
	{% else %}
		<p> not in the database</p>	
	{% endif %}
	<div style="profileShows">
	{% if shows %}
	<h1><u>Tracked Shows</u></h1>
	<br />
		<div>
			<form id="searchShow" method="post" action="/show">	
				<table style="width:50%" align="center" cellpadding="10px" cellspacing="5px">
					<tr>
					{% for show in shows %}
						{% if forloop.counter0|divisibleby:3 %}
						</tr><tr> 
						{% endif %}
						<td class="showTable">
							<div onclick="selectShow({{show.id}});" style="cursor:pointer">
							<div id="displayShow"><img id="showImg" src="{{show.imgsrc}}" alt="{{show.imgsrc}}" height="200" width="200"/></div>
							<div id="showName">{{show.name}}</div>
							</div>
						</td>
					{% endfor %}
					</tr>
				</table>
			<input type="hidden" name="showselect" id="showselectID" />
			</form>
		</div>
	{% endif%}	
	</div>
</div>
<!-- end page -->
<div id="footer">
	<p id="legal">&copy;2014 Teleddiction. All Rights Reserved. Designed by Group 3</p>
	<p id="links"><a href="#">Privacy</a> | <a href="#">Terms</a> | <a href="http://validator.w3.org/check/referer" title="This page validates as XHTML 1.0 Transitional"><abbr title="eXtensible HyperText Markup Language">XHTML</abbr></a> | <a href="http://jigsaw.w3.org/css-validator/check/referer" title="This page validates as CSS"><abbr title="Cascading Style Sheets">CSS</abbr></a></p>
</div>
</body>
</html>
